body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
     color: #333;
    text-align: center;
    padding-top: 20px;
   
}

h1 {
    color: #d9534f;
}

 aside {
    margin: 20px auto;
    width: 300px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
 }
    
.game-info {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.game-board {
    display: grid; /* CHANGE: Use CSS Grid for 2D layout */
    
    /* NEW: Define 4 columns, each 100px wide */
    grid-template-columns: repeat(4, minmax(120px, 1fr)); 
    
    gap: 15px;
    max-width: 600px;
    margin: auto;
}

.card {
   width: 80%;
   aspect-ratio: 2 / 3 ;
   cursor: pointer;
   border-radius: 10px;
}


#resetButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #c9302c;
}